* {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

#limit{
   color: red;
   font-size: 2em;
   
}

h1 {
   text-align: center;
}

a {
   text-align: center;
   background-color: blue;
   font-size: 1.5em;

}

.purchase {
   font-size: 2em;
}

.con {
   font-size: 1em;
}