/*
COLORS:



Ink: #062f4f   rgba06,47,79,1
Posy: #813772   rgba129, 55, 114, 1
Embers: #b82601   rgba184,38,1,1

*/

* {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%
}

body {
   font-family: "Gotham", sans-serif;
   font-weight: 400;
   /*font-size: 16px;*/
   line-height: 1.7;
   color: #ffffe9;
   padding: 3rem;
   background-color: #062f4f; 
   box-sizing: border-box;
}

.header {
   height: 65vh;
   background-image: linear-gradient(
      to right bottom,
      rgba(36, 107, 107, 0.8),
      rgba(215, 206, 255, 0.8)), 
   url(../img/header_fam3.jpg);
   background-size: cover;
   background-position: top;
   position: relative;
   
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);   
   clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
}

.header__text-box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.heading {
   color: #ffffe9;
   text-transform: uppercase;   
   backface-visibility: hidden;
   margin-bottom: 6rem;
}

.heading--assignments {
   color: #ffffe9;
   text-transform: uppercase;   
   backface-visibility: hidden;
   margin-bottom: 4rem;
}

.heading-main {
   display: block;
   font-size: 6rem;
   font-weight: 400;
   letter-spacing: 1.5rem;
}

.button:link,
.button:visited {
   text-transform: uppercase;
   text-decoration: none;
   padding: 1.5rem 4rem;
   display: inline-block;
   border-radius: 10rem;
   transition: all .2s;
   position: relative;
   font-size: 1.6rem;
   margin-top: 10rem;
}

.button:hover {
   transform: translateY(-3px);
   box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.button:active {
   transform: translateY(-1px);
   box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.button--color {
   background-color: #fff;
   color: #777;
}

.button::after {
   content: "";
   display: inline-block;
   height: 100%;
   width: 100%;
   border-radius: 10rem;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   transition: all .4s;
}

.button--color::after {
   background-color: #fff;
}

.button:hover::after {
   transform: scaleX(1.4) scaleY(1.6);
   opacity: 0;
}

.nav {
   position: relative;
   top: 50%;
   left: 40%;
   transform: translate(-40%, 10%);
   text-align: center;   
}

.nav p {
   display: inline-block;
   font-size: 2rem;
   padding: 0 2rem 0 3rem;
}

.nav p a:link,
.nav p a:visited {
   color: #FF9660;
   text-decoration: none;
}

.nav p a:hover {
   text-decoration: underline;
   color: #ffffe9;
}

main {
   margin-left: 10%;
   margin-right: 10%;
}

main h2 {
   font-size: 2em;
}

main p {
   font-size: 1.2em;
}

.main--information {
   display: inline;
   font-size: 2rem;
   width: 15vw;
   height: 10vh;
   margin: 10rem 0 0 10rem;
   padding-left: 10rem;
}

.btn {
   text-decoration: none;
   padding: 1.5rem 4rem;
   display: inline-block;
   border-radius: 10rem;
   font-size: 1.6rem;
   margin-top: 3rem;
   color: #777;
}

footer p {
   text-align: center;
   font-size: 1em;
   margin-bottom: 1em;
}

